.Header-brand {
    color: white;
}

#myPopover {
    position: absolute;
}
.content {
    margin-top: -30px;
    min-height: 800px;
    background: #111a22;
}
body {
    margin:0;
    overflow-y:hidden;
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111a22;
}
.navbar-default {
    background-color: #111a22 !important;
    border-color: #111a22 !important;
}
.navtext {
    position: absolute;
    color: ghostwhite;
    top: 20%;
    left: 33%;
    font-family: 'Audiowide', cursive;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    animation: texts;
    animation-duration: 10s;
}
.game {
    position: absolute;
    font-family: 'Audiowide', cursive;
    color: ghostwhite;
    top: 84%;
    left: 35.5%;
}
@keyframes texts {
    0% {text-shadow: 50px 50px 50px rgba(255, 255, 255, 0.05);}
    10% {text-shadow: 45px 45px 45px rgba(255, 255, 255, 0.1);}
    20% {text-shadow: 40px 40px 40px rgba(255, 255, 255, 0.15);}
    30% {text-shadow: 35px 35px 35px rgba(255, 255, 255, 0.2);}
    40% {text-shadow: 30px 30px 30px rgba(255, 255, 255, 0.25);}
    50% {text-shadow: 25px 25px 25px rgba(255, 255, 255, 0.3);}
    60% {text-shadow: 20px 20px 20px rgba(255, 255, 255, 0.35);}
    70% {text-shadow: 15px 15px 15px rgba(255, 255, 255, 0.4);}
    80% {text-shadow: 10px 10px 10px rgba(255, 255, 255, 0.45);}
    90% {text-shadow: 7px 7px 7px rgba(255, 255, 255, 0.47);}
    100% {text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);}
}

/*RADAR*/

#radar {
  position: absolute;
  top: 46%;
  left: 49%;
}

.radars {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  background: #5dcce7;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: r5 1s 0s ease-out infinite;
  -moz-animation: r5 1s 0s ease-out infinite;
  animation: r5 1s 0s ease-out infinite;
}

@-webkit-keyframes r5 {
  0% {
    box-shadow: 0 0 8px 6px rgba(93,204,231, .5), 0 0 0px 0px transparent, 0 0 0px 0px rgba(93,204,231, .7);
  }
  10% {
    transform:scale(1,1);
    box-shadow: 0 0 8px 6px rgba(93,204,231, .5), 0 0 12px 10px transparent, 0 0 12px 14px rgba(93,204,231, .7);
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
  }
}
@-moz-keyframes r5 {
  0% {
    box-shadow: 0 0 8px 6px rgb(93,204,231), 0 0 0px 0px transparent, 0 0 0px 0px rgb(93,204,231);
  }
  10% {
    box-shadow: 0 0 8px 6px rgb(93,204,231), 0 0 12px 10px transparent, 0 0 12px 14px rgb(93,204,231);
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
  }
}
@keyframes r5 {
  0% {
    box-shadow: 0 0 8px 6px rgb(93,204,231), 0 0 0px 0px transparent, 0 0 0px 0px rgb(93,204,231);
  }
  10% {
    box-shadow: 0 0 8px 6px rgb(93,204,231), 0 0 12px 10px transparent, 0 0 12px 14px rgb(93,204,231);
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
  }
}



/* CSS STYLES OF THE ROCKET */
.rocket{
    display:none;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 18px);
}

.rocket span{
    display: block;
    width: 65px;
    height: 20px;
    background-color: #d11c40;
    position: absolute;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    border-left: 3px solid #5b595d;
    border-right: 3px solid #D11C40;
    -webkit-animation: wiggling 300ms infinite;
    -moz-animation: wiggling 300ms infinite;
    -o-animation: wiggling 300ms infinite;
    -ms-animation: wiggling 300ms infinite;
    animation-timing-function: ease-out;
}

.rocket span:before,
.rocket span:after{
    content: '';
    position: absolute;
    display: block;
    width: 51%;
    top:50%;
    height: 50%;
    background-color: #a71732;
}

.rocket span:before{
    right: 0;
    border-bottom-right-radius: 100%;
}

.rocket span:after{
    left: -3px;
    border-left: 3px solid #444244;
}


/* fins */
.rocket span i.fin-top,
.rocket span i.fin-bottom{
    display: block;
    position: absolute;
    left: -4px;
    width: 10px;
    height: 10px;
    background-color: #7f0e27;
    border-left: 3px solid #D11C40;
}

.rocket span i.fin-top:before,
.rocket span i.fin-bottom:before{
    content: '';
    position: absolute;
    left: 5px;
    width: 10px;
    height: 100%;
    background-color: #7f0e27;
    bottom: 0;
}

.rocket span i.fin-top{ top: -10px;
    -webkit-transform: skew(35deg, 0deg);
    -moz-transform: skew(35deg, 0deg);
    -o-transform: skew(35deg, 0deg);
    transform: skew(35deg, 0deg);
}
.rocket span i.fin-bottom{
    bottom: -10px;
    -webkit-transform: skew(-35deg, 0deg);
    -moz-transform: skew(-35deg, 0deg);
    -o-transform: skew(-35deg, 0deg);
    transform: skew(-35deg, 0deg);
}
.rocket span i.fin-top:before{
    -webkit-transform: skew(40deg, 0deg);
    -moz-transform: skew(40deg, 0deg);
    -o-transform: skew(40deg, 0deg);
    transform: skew(40deg, 0deg);
}
.rocket span i.fin-bottom:before{
    -webkit-transform: skew(-40deg, 0deg);
    -moz-transform: skew(-40deg, 0deg);
    -o-transform: skew(-40deg, 0deg);
    transform: skew(-40deg, 0deg);
}



.rocket span i.faya{
    position: absolute;
    display: block;
    left: -33px;
    width: 30px;
    height: 100%;
    overflow: hidden;
}

.rocket span i.faya:before{
    position: absolute;
    content: '';
    display: block;
    width: 220px;
    height: 20px;
    left: 0;
    top:0;
    border-radius: 100%;
    background-color: #f45224;
    -webkit-animation: vrouming 200ms infinite;
    -moz-animation: vrouming 200ms infinite;
    -o-animation: vrouming 200ms infinite;
    animation: vrouming 200ms infinite;
}

.rocket span i.faya:after{
    position: absolute;
    content: '';
    display: block;
    width: 220px;
    height: 10px;
    left: 10px;
    top: 5px;
    border-radius: 100%;
    background-color: #ffedd5;
    -webkit-animation: vrouming 200ms infinite;
    -moz-animation: vrouming 200ms infinite;
    -o-animation: vrouming 200ms infinite;
    animation: vrouming 200ms infinite;
}

.rocket span i.wastes{
    position: absolute;
    left: -53px;
    top: -10px;
    width: 50px;
    height: 200%;
}

.rocket span i.wastes i{
    position: absolute;
    width: 3px;
    right: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

.rocket span i.wastes i:nth-child(1){
    top:15px;
    -webkit-animation: wasting 500ms infinite 100ms;
    -moz-animation: wasting 500ms infinite 100ms;
    -o-animation: wasting 500ms infinite 100ms;
    animation: wasting 500ms infinite 100ms;
}

.rocket span i.wastes i:nth-child(2){
    top:17px;
    -webkit-animation: wasting2 500ms infinite 200ms;
    -moz-animation: wasting2 500ms infinite 200ms;
    -o-animation: wasting2 500ms infinite 200ms;
    animation: wasting2 500ms infinite 200ms;
}

.rocket span i.wastes i:nth-child(3){
    top:19px;
    -webkit-animation: wasting 500ms infinite 300ms;
    -moz-animation: wasting 500ms infinite 300ms;
    -o-animation: wasting 500ms infinite 300ms;
    animation: wasting 500ms infinite 300ms;
}

.rocket span i.wastes i:nth-child(4){
    top:21px;
    -webkit-animation: wasting2 500ms infinite 400ms;
    -moz-animation: wasting2 500ms infinite 400ms;
    -o-animation: wasting2 500ms infinite 400ms;
    animation: wasting2 500ms infinite 400ms;
}

.rocket span i.wastes i:nth-child(5){
    top:23px;
    -webkit-animation: wasting 500ms infinite 100ms;
    -moz-animation: wasting 500ms infinite 100ms;
    -o-animation: wasting 500ms infinite 100ms;
    animation: wasting 500ms infinite 100ms;
}

/* wiggling */

@-webkit-keyframes wiggling {
    0% {
        -webkit-transform: translate3d(0px, 0px, 0);
        transform: translate3d(0px, 0px, 0);
    }
    50% {
        -webkit-transform: translate3d(0px, -4px, 0);
        transform: translate3d(0px, -4px, 0);
    }
    100% {
        -webkit-transform: translate3d(0px, 0px, 0);
        transform: translate3d(0px, 0px, 0);
    }
}

@-moz-keyframes wiggling {
    0% {
        -moz-transform: translate3d(0px, 0px, 0);
        transform: translate3d(0px, 0px, 0);
    }
    50% {
        -moz-transform: translate3d(0px, -4px, 0);
        transform: translate3d(0px, -4px, 0);
    }
    100% {
        -moz-transform: translate3d(0px, 0px, 0);
        transform: translate3d(0px, 0px, 0);
    }
}

@-o-keyframes wiggling {
    0% {
        -o-transform: translate3d(0px, 0px, 0);
        transform: translate3d(0px, 0px, 0);
    }
    50% {
        -o-transform: translate3d(0px, -4px, 0);
        transform: translate3d(0px, -4px, 0);
    }
    100% {
        -o-transform: translate3d(0px, 0px, 0);
        transform: translate3d(0px, 0px, 0);
    }
}

@keyframes wiggling {
    0% { transform: translate3d(0px, 0px, 0); }
    50% { transform: translate3d(0px, -4px, 0); }
    100% { transform: translate3d(0px, 0px, 0); }
}

/* vrouming */

@-webkit-keyframes vrouming {
    0% {
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    50% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
}

@-moz-keyframes vrouming {
    0% {
        -moz-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    50% {
        -moz-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        -moz-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
}

@-o-keyframes vrouming {
    0% {
        -o-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    50% {
        -o-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        -o-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
}

@keyframes vrouming {
    0% { transform: translate3d(0px, 0, 0); }
    50% { transform: translate3d(5px, 0, 0); }
    100% { transform: translate3d(0px, 0, 0); }
}
/* wiggling */

@-webkit-keyframes wasting {
    0% {
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-40px, -5px, 0);
        transform: translate3d(-40px, -5px, 0);
    }
}

@-moz-keyframes wasting {
    0% {
        -moz-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    100% {
        -moz-transform: translate3d(-40px, -5px, 0);
        transform: translate3d(-40px, -5px, 0);
    }
}

@-o-keyframes wasting {
    0% {
        -o-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    100% {
        -o-transform: translate3d(-40px, -5px, 0);
        transform: translate3d(-40px, -5px, 0);
    }
}

@keyframes wasting {
    0% { transform: translate3d(0px, 0, 0); }
    100% { transform: translate3d(-40px, -5px, 0); }
}

/* wasting2 */

@-webkit-keyframes wasting2 {
    0% {
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-40px, 5px, 0);
        transform: translate3d(-40px, 5px, 0);
    }
}

@-moz-keyframes wasting2 {
    0% {
        -moz-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    100% {
        -moz-transform: translate3d(-40px, 5px, 0);
        transform: translate3d(-40px, 5px, 0);
    }
}

@-o-keyframes wasting2 {
    0% {
        -o-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    100% {
        -o-transform: translate3d(-40px, 5px, 0);
        transform: translate3d(-40px, 5px, 0);
    }
}

@keyframes wasting2 {
    0% { transform: translate3d(0px, 0, 0); }
    100% { transform: translate3d(-40px, 5px, 0); }
}


/* Input numbers styles */

#firstNumber {
    height: 150px;
    width: 100px;
    background:#111a22;
    border-color: whitesmoke;
    font-family: 'Audiowide', cursive;
    font-size: 80px;
    padding-left: 17px;
    color:whitesmoke;
    border-radius: 10px;
}

#secondNumber {
    height: 150px;
    width: 100px;
    background:#111a22;
    border-color: whitesmoke;
    font-family: 'Audiowide', cursive;
    font-size: 80px;
    padding-left: 17px;
    color:whitesmoke;
    border-radius: 10px;
}

#thirdNumber {
    height: 150px;
    width: 100px;
    background:#111a22;
    border-color: whitesmoke;
    font-family: 'Audiowide', cursive;
    font-size: 80px;
    padding-left: 17px;
    color:whitesmoke;
    border-radius: 10px;
}

#fourthNumber {
    height: 150px;
    width: 100px;
    background:#111a22;
    border-color: whitesmoke;
    font-family: 'Audiowide', cursive;
    font-size: 80px;
    padding-left: 17px;
    color:whitesmoke;
    border-radius: 10px;
}


/* Button for search */

#buttonForSearch {
    background:#111a22;
    color: whitesmoke;
}

#topStars {
    display:;
}
#spac{
    visibility: hidden;
}

#bottomrock {
    display:none;
}
#inputHidden {
    display: ;
}